/*
  Theme Name: Cars
  Version: 1.0
  Author: Prince Vishwakarma
  Description: This Is Cars Theme
*/

* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
}

img { width: 100%; }
a { text-decoration: none; }
li { list-style-type: none; }

.wrapper {
	width: 90%;
	margin: 0 auto;
}

header { border-bottom: 1px solid #d3d3d3; }

header .wrapper {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.title,
.excerpt,
.post-detail { margin-top: 30px; }
.title h2,
.excerpt h2,
.post-detail h2 { text-decoration: underline; }
.title ul,
.excerpt ul,
.post-detail ul { margin: 20px 0; }
.title li { margin-top: 5px; }
.excerpt li { margin-bottom: 20px; }

.post-detail ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.post-detail li { 
	width: 30%;
	margin-bottom: 50px; 
	border: 1px solid #d3d3d3;
	background-color: #fffbf3;
}

.post-detail li span {
	margin: 10px 0;
	display: block;
	font-size: 14px;
}

.post-detail li h3 { 
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center; 
}

.post-detail li p,
.random-post li p,
.single-post p { 
	margin: 0 8px 20px;
	font-size: 15px;
	line-height: 25px;
}

.post-detail li a,
.random-post li a {
	padding: 10px 0;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	margin-bottom: 10px;
	display: block;
	color: #000;
	font-size: 15px;
	text-align: center;
	transition: all .3s;
}

.post-detail li a:hover,
.random-post li a:hover {
	background-color: #fffdd0;
	color: #000;
}

.single-post {
	width: 80%;
	margin: 50px auto 100px;
}

.single-post h2,
.random-post li h2 { 
	margin: 20px 0;
	text-align: center; 
}

.random-post ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.random-post li {
	width: 30%;
	margin-bottom: 50px; 
	border: 1px solid #d3d3d3;
	background-color: #fffbf3;	
}

.random-post img,
.post-detail img { 
	cursor: pointer;
	transition: all .5s; 
}
.random-post figure,
.post-detail figure { overflow: hidden; }
.random-post img:hover,
.post-detail img:hover { transform: scale(1.5); }